<%= render partial: "layouts/header" %>
<%= render partial: "layouts/sidebar" %>

<h1 align="center" style="margin: 0 15% 5% 0"> Notifications </h1>
<!-- END PROFILE INFO -->
<!-- POSTED BY -->
<!-- View for index action in user's controleer -->
<div class="col-md-2">
</div>
<div class="col-md-4">
<p>
<h4> Messages </h4>

<% for approval in eval(@user.approvalLists) %>
  <% if approval != "Done" %>
  <li><b> <%= approval %></b> has approved you
    <% end %>

<% end %>		
<% if eval(@user.approvalLists).count >= 2 %>
<li> You are done with your tasks for this week. </li>
<% end %>

<% for u in eval(@user.acceptedTrade) %>
  <li><b><%= u %> </b> has accepted your trade request </li>
<% end %>

<% for u in eval(@user.declinedTrade) %>
  <li><b><%= u %> </b> has declined your trade request </li>
<% end %>

<% for u in eval(@user.tradeRequests) %>

  <li><b> <%= u %></b> has requested to trade chore of <b><%= Choreslist.find_by(taskID: User.all.find_by(name:u).choreCycle).choreName %></b> with you!
<!-- wow this one line is really really long -->
<% end %>
</p>

<% if eval(@user.tradeRequests).count > 0 %>

<table class='table' style="margin-top:20%">
	 <thead>
    <tr>
      <th style='font-size:25px'> Picture </th>
      <th style='font-size:25px'>Name </th>
      <th style='font-size:25px'> Event</th>
      <th style='font-size:25px'> Current Chore</th>
      <th style='font-size:25px'> New Chore</th>
	  <th style='font-size:25px'> Accept</th>
	  <th style='font-size:25px'>Decline</th>
    </tr>
  </thead>
 	<% for user in eval(@user.tradeRequests) %>

	<tbody>
	 <tr>
      <td>
 		<%= image_tag(User.find_by(name:user).temp_profile,:size=>"50x50") %></td>
      <td style='font-size:15px'>
      	<%= user %>
      <td style='font-size:15px'>
      	Trade Request
      <td style='font-size:15px'>
        <%= Choreslist.all.find_by(taskID: User.all.find_by(name:@user.name).choreCycle).choreName %>
      <td style='font-size:15px'>
        <%= Choreslist.all.find_by(taskID: User.all.find_by(name:user).choreCycle).choreName %>
	  <td style='font-size:25px'>
		<%= button_to "Accept", {:controller => "users", :id => User.find_by(name: user).id, :action => "acceptTrade"}, :class => 'btn btn-info', :style => "margin-left:5%" %>
	  <td style='font-size:25px'>
		<%= button_to "Decline", {:controller => "users", :id => User.find_by(name: user).id, :action => "declineTrade"}, :class => 'btn btn-info', :style => "margin-left:5%" %>
    </tr>
    <%end%>
  </tbody>
</table>
<%end%>
<!-- <button class = "btn btn-default"> Accept </button>
<button class = "btn btn-default"> Decline </button> -->
</div>
