

<nav class='navbar navbar-default' role='navigation'>
<div class='container-fluid'>
<!-- Brand and toggle get grouped for better mobile display -->
<div class='navbar-header'>
<button class='navbar-toggle' data-target='#bs-example-navbar-collapse-1' data-toggle='collapse' type='button'>
<span class='sr-only'>Toggle navigation</span>
<span class='icon-bar'></span>
<span class='icon-bar'></span>
<span class='icon-bar'></span>
</button>

<a class='navbar-brand' href='/'>
  <img alt="tommy pic" id="logo" src="/tommy.jpg" width="40" height="30" />
</a>
</div>

<div class='form-group col-xs-4'>

</div>
</form>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
<ul class='nav navbar-nav'>
<!-- <li><haml_loud> link_to &quot;Discussions&quot;, discussions_path </haml_loud></li> -->
</ul>
<ul class='nav navbar-nav navbar-right'>
<li>
<a class="navbar-link"><%= @user.email %></a>
</li>
<li> <%= link_to "Log out", "/logout", method: "destroy" %>
</li>
</ul>
</div>
<!-- /.navbar-collapse -->
</div>

<!-- /.container-fluid -->
</nav>
<% if notice != nil %>
<div class="flash-alert alert alert-success" style="margin-top:-2%;" >
  <%= notice %>
</div>
<% end %>

<div class='col-md-3' style='border-right:1px solid #dddddd;'>
<div class='col-md-12' style='text-align: center;'>
<h4>
<%= @user.points %> Points
</h4>
<h5>
<a><%= @user.name %>
</a>
</h5>
</div>
<div class='col-md-12'>

 <%= image_tag @user.photo.url, :size=>"220x200" %> 
</div>
<div class='col-md-12'>
<h4>
<span class='glyphicon glyphicon-list'></span>
<a href="/user">Your Home Page</a>
<span class='pull-right'>#</span>
</h4>

<h4>
<span class='glyphicon glyphicon-star'></span>
<a href="/leaderboard">Leaderboard</a>
<span class='pull-right'>#</span>
</h4>

<h4 style="font-size:15px">
<span class='glyphicon glyphicon-globe'></span>
<a href="/weekly">This Week in the House</a>
<span class='pull-right'>#</span>
</h4>
<h4>
<span class='glyphicon glyphicon-th'></span>
<a href="/user">Your Inventory</a>
<span class='pull-right'>#</span>
</h4>
</div>
<div class='col-md-12'>
<h4>Group</h4>
<p>
<span class='tag-label label-gap'>Putnasty Pirates</span>
<span class='tag-label label-gap'></span>
</p>

</div>
<div class='col-md-12'>
<h4>Phone Number</h4>
<p><%= @user.phone %></p>
<p></p>
<p></p>
</div>
<!-- SOCIAL ICONS -->
<!-- END SOCIAL ICONS -->

</div>
<!-- END PROFILE INFO -->
<!-- POSTED BY -->
<!-- View for index action in user's controleer -->


<h1 align="center" style="margin: 0 15% 5% 0"> Notifications </h1>
<!-- END PROFILE INFO -->
<!-- POSTED BY -->
<!-- View for index action in user's controleer -->
<div class="col-md-2">
</div>
<div class="col-md-4">
<p>
<h4> Messages </h4>

<% for approval in eval(@user.approvalLists) %>
  <% if approval != "Done" %>
  <li><b> <%= approval %></b> has approved you
    <% end %>

<% end %>		
<% if eval(@user.approvalLists).count >= 2 %>
<li> You are done with your tasks for this week. </li>
<% end %>
<% for u in eval(@user.acceptedTrade) %>
  <li><b><%= u %> </b> has accepted your trade request </li>
<% end %>
<% for u in eval(@user.declinedTrade) %>
  <li><b><%= u %> </b> has declined your trade request </li>
<% end %>

<% for u in eval(@user.tradeRequests) %>

  <li><b> <%= u %></b> has requested to trade chore of <b><%= Choreslist.all.find_by(taskID: User.all.find_by(name:u).choreCycle).choreName %></b> with you!
<!-- wow this one line is really really long -->
<% end %>
</p>

<% if eval(@user.tradeRequests).count > 0 %>

<table class='table' style="margin-top:20%">
	 <thead>
    <tr>
      <th style='font-size:25px'> Picture </th>
      <th style='font-size:25px'>Name </th>
      <th style='font-size:25px'> Event</th>
      <th style='font-size:25px'> Current Chore</th>
      <th style='font-size:25px'> New Chore</th>
	  <th style='font-size:25px'> Accept</th>
	  <th style='font-size:25px'>Decline</th>
    </tr>
  </thead>
 	<% for user in eval(@user.tradeRequests) %>

	<tbody>
	 <tr>
      <td>
 		<%= image_tag(User.find_by(name:user).photo.url,:size=>"50x50") %></td>
      <td style='font-size:15px'>
      	<%= user %>
      <td style='font-size:15px'>
      	Trade Request
      <td style='font-size:15px'>
        <%= Choreslist.all.find_by(taskID: User.all.find_by(name:@user.name).choreCycle).choreName %>
      <td style='font-size:15px'>
        <%= Choreslist.all.find_by(taskID: User.all.find_by(name:user).choreCycle).choreName %>
	  <td style='font-size:25px'>
		<%= button_to "Accept", {:controller => "users", :id => User.find_by(name: user).id, :action => "acceptTrade"}, :class => 'btn btn-info', :style => "margin-left:5%" %>
	  <td style='font-size:25px'>
		<%= button_to "Decline", {:controller => "users", :id => User.find_by(name: user).id, :action => "declineTrade"}, :class => 'btn btn-info', :style => "margin-left:5%" %>
    </tr>
    <%end%>
  </tbody>
</table>
<%end%>
<!-- <button class = "btn btn-default"> Accept </button>
<button class = "btn btn-default"> Decline </button> -->
</div>
