<%= render partial: "layouts/header" %>
<%= render partial: "layouts/sidebar" %>

<div class="col-md-3">
	<div class = "weekly">
		<h1> Chores </h1>
		<p><%= @current_chore.choreName %></p>
		<h1> Other People </h1>
		<% for user in @users %>
			<% if user != @user %>
		 		<div><%= image_tag user.temp_profile, :size=>"160x160" %> </div>
				<a href= <%="/users/" + user.id.to_s %>> <%= user.name %></a>
			<%end%>
		<%end%>
		<h1> Problems </h1>

    </div> 	

	</div>

</div>
